@Kopernicus:BEFORE[Q_TPR]
{
    #@TPRSettings {}
}

@Kopernicus:FINAL
{
    !TPRSettings {}
}

@Scatterer_atmosphere:BEFORE[Q_TPR]
{
    #@TPRSettings {}
}

@Scatterer_atmosphere:FINAL
{
    !TPRSettings {}
}

@Scatterer_planetsList:BEFORE[Q_TPR]
{
    #@TPRSettings {}
}

@Scatterer_planetsList:FINAL
{
    !TPRSettings {}
}